body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    background: #12005e;
    height: 33em;
}


.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-left a {
    color: #f9faf8;
    font-size: 24px;
    text-decoration: none;
}

.navbar-right ul,
li {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 1em;
}

.title {
    font-weight: bold;
    font-size: 48px;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #e5E7EB;
}

.content {
    margin-top: 2em;
    padding-bottom: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-left {
    width: 30rem;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}


.space-image {
    height: 10rem;
    width: 25rem;
    margin-left: 15em;
}

.sign-up {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background-color: #534bae;
    color: white;
}

.sign-up:hover {
    color: #283593;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background: #534bae;
}

.section img {
    height: 20vh;
    width: 25vh;
    padding: 2em;
    border: 10px, red;
}

.section p {
    color: white;
}

.image1,
.image2,
.image3,
.image4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}