body {
    padding: 0;
    margin: 0;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: column;
    background: #12005e;
    height: 30em;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-left a {
    color: #f9faf8;
    font-size: 24px;
    text-decoration: none;
}

.navbar-right ul,
li {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 1em;
}

.title {
    font-weight: bold;
    font-size: 48px;
    color: #F9FAF8;

}

.subtext {
    font-size: 18px;
    color: #e5E7EB;
}

.content {
    margin-top: 2em;
    padding-bottom: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-left {
    width: 30rem;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}


.space-image {
    height: auto;
    width: 25rem;
    margin-left: 15em;
}

.sign-up {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background-color: #534bae;
    color: white;
}

.sign-up:hover {
    color: #536dfe;
}

.section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 50vh;
    background: #534bae;
}

.image1,
.image2,
.image3,
.image4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section img {
    height: 25vh;
    width: 30vh;
}

.section p {
    color: white;
}

.testimonials {
    display: flex;
    background-color: #000051;
}

.quote {
    color: white;
    height: 8vh;
    margin-left: 35vh;
}

.testimonials h3 {
    color: white;
}

figcaption {
    color: white;
    padding: 0 70vh;
}

.banner {
    background-color: #311b92;
    height: 25vh;
}

.banner-container {
    border: #311b92 solid;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.banner-text {
    color: white;
    font-size: 24px;
}

.subscribe {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    color: white;
    background-color: #6746c3;

}